# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# LuxCore.py config
cache/config.json

# Lux Copyrighted stuff
assets/explosions
assets/bubbleSource1.png
assets/bubbleSource3.png
assets/bubbleSource5.png
assets/DirtyHeadline.ttf
assets/guybw1.png
assets/guybw2.png
assets/guybw3.png
assets/guybw4.png
assets/LuxCore.jar
assets/not_available.jpg
assets/LuxDeluxLogo.png
assets/texture_background.jpg
assets/texture_map.jpg
assets/texture_network.jpg
assets/texture_players.jpg

docs/*
locales/*
maps/*
themes/*